*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';

}

.infoAuthorization{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: #FAFF05;
}

.infoAuthorization-text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #100E18;
}

header{
    height: 76px;
    padding: 22px 0 22px 0;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #100E18;
}


ul li{
    display: inline;
    list-style: none;
    margin-left: 70px;
}


nav div img{
    margin-left: 36px;
}



main{
    height: 960px;
    background: #C4140F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 300px  0 140px;
    position: relative;

}


.main-text{
    font-family: 'Bebas Neue';
    max-width: 477px;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.15em;
    text-transform: capitalize;
    color: #ffffff;
}




.hr{
    border: 1px solid #FAFF05;
    width: 50px;
    opacity: 0.4;
    margin-bottom: 60px;
}
.slider-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.btnStart{
    border: none;
    padding: 20px 60px;
    gap: 10px;
    background: #FAFF05;
    margin-top: 60px;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: capitalize;
    color: #100E18;
}

.positionImages{
   position: relative;
    top: 40px;
}

.bgWomen{
    margin-top: 140px;


}


.women{

    position: absolute;
    left: 70px;
    z-index: 1;

}

.fitness{
    position: absolute;
    left: 14.5%;
    top: 47%;
    max-width: calc(100% - 417px);
}


.aboutBlock{
    padding-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutUs{

    max-width: 1324px;
    text-align: center;

}

.aboutUs h1{
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.15em;
    text-transform: capitalize;
    color: #8A8A8A;
    margin-bottom: 50px;
}

.subTitle{
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #100E18;
}


.btnShop{
    margin-top: 50px;
    width: 264px;
    height: 76px;
    background: #FAFF05;
    border: none;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: capitalize;
    color: #100E18;

}

.stretch{
    padding: 0 50px 0 50px;
    width: 420px;
}

.groupTrening{
    padding: 0 50px 0 50px;
    width: 420px;
}


.personalTrening{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    height: 10%;
    background: url("./images/bgWoman.svg");
}


.stretchText{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.stretchSubText{

    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8A8A8A;
}


.perTrening{
    margin-top: 50px;
    padding: 50px 50px 0 50px;
    width: 420px;
    height: 370px;
    background: #FAFF05;
}

.pertSubtext{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #100E18;
}

.pt{
    padding-top: 20px;
}

.border{
    margin-bottom: 50px;
    border: 2px solid #FAFF05;
}

.color{
    color: #100E18;
}